<div class="d-flex flex-column align-items-center container">
    <div class="blog" *ngFor="let blog of slicedPages">
       <a routerLink="/blogDetails/{{blog.Id}}"> {{blog.Name}} </a>
       <div class="description">{{blog.Description}}</div>
    </div>

    <mat-paginator
    [length]="blogList.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15]"
    (page)="onPageChange($event)"
    ></mat-paginator>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
</div>